.App {
  text-align: center;
}

.logInOutMenuBtDiv {
  margin-left: 0.125rem;
}

.mainMenuBtDiv {
  margin: 0.125rem;
}

#plnWrkBox {
  display: flex;
}

#plannerDiv {
  border: 0px solid black;
  height: fit-content;
  width: fit-content;
}

#plannerStatsBody{
  border: 1px solid black;
  border-radius: 5px;
  margin-left: 0.125rem;
  padding: 0.125rem;
}

#DASDiv {
  color: #ffff00;
  border: 3px solid black;
  border-radius: 5px;
  flex-direction: column;
  background-color: #000000;
}

.dayBodyDiv {
  display: flex;
  width: 850px;
  border: 1px solid black;
  border-radius: 0.25rem;
  margin-bottom: 2px;
  padding: 3px;
}

.dayNameDiv {
  display: flex;
  border: 0px solid black;
  width: 1.5rem;
  align-items: center;
}

.postBodyDiv {
  display: flex;
}

.partsBodyDiv {
  display: flex;
}

.dropAreaDiv {
  display: flex;
  border: 1px solid black;
}

.ticketDiv {
  height: 4rem;
  width: 6rem;
  border-radius: 1rem;
  border: 1px solid black;
  margin: 0.5rem;
  padding: 0.5rem;
}
